---
import { normalizeAstroClassList }Props from "~utils/normalizeAstroClassListProps";

interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
  external?: boolean;
}

const { classList, external, href, ...props } = normalizeAstroClassListProps(
  Astro.props as Props
);
---

<a
  class:list={[
    classList,
    "rounded-lg p-1 underline decoration-wavy decoration-2 decoration-purple-600 ring-black/75 transition duration-300 hover:text-purple-500 hover:decoration-purple-500 focus:outline-none focus-visible:text-purple-500 focus-visible:ring dark:ring-white/75",
  ]}
  href={href}
  target={external ? "_blank" : props.target}
  rel={external ? "noopener noreferrer" : props.rel}
>
  <slot />
</a>
